.vscode/**
.github/**
.husky/**
typings/**
out/test/**
test/**
src/**
node_modules/**
**/*.map
.gitignore
.nvmrc
.oxfmtrc.jsonc
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
tsdown.config.mts
vitest.config.mts
vsc-extension-quickstart.md
